.Home {

    display: flex;
    flex-direction: column;
    gap: .75rem 0;

    h2 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .queens-list {
        display: flex;
        flex-direction: column;
        gap: .75rem 0;
    }
    
    .queens-search {
        display: flex;
        flex-direction: column;
        gap: .75rem 0;
    }
}